.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.Icones{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 600px;
  margin: 0 auto;
}
.apps{
  align-items: center;
  background-color: #fff;
  border:0px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 4px;
  width: 125px;
}
.apps:hover{
  background-color: #e4e4e4;
  text-decoration:dotted;
}
img{
  margin-top: 20px;
  border: 1px solid rgba(226, 224, 224, 0);
  border-radius: 30px;
  width:30px;
}

.nome{
  font-size: 15px;
}
